body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

header {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://cdn.imgurl.ir/uploads/z56839_header.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #fff;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.profile-image {
    position: absolute;
    bottom: 0;
    left: 48%;
    transform: translateY(+35%);
    width: 90px;
    height: 100px;
    border-radius: 50%;
    object-fit: fill;
    border: 1px solid hsla(0, 0%, 100%, 0);
    background: #fff;
}

.profile-info {
    text-align: center;
    margin-top: 30px;
    margin-left: 35px;
    position: relative;
}

.profile-info::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e6e6e6;
    margin: 10px auto 0;
    inline-size: min(780px, 10%);
}

.profile-info .author-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
}

.profile-info .update-date {
    font-style: italic;
    font-size: 13px;
    color: rgb(102, 102, 102);
    line-height: 1.3;
}

.content {
    max-width: 780px;
    margin: 40px auto;
}

.content h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 40px 0 10px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.content h2 .item-number {
    color: rgba(0, 0, 0, 0.25);
}

.content h2 .title {
    color: rgb(51, 51, 51);
}

.content a {
    color: #42b4d6;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.content p .recommendation {
    font-weight: bold;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}